﻿<div layout="row" style="height:100%;">
    <div layout="column" flex="20">
        <sidenav-menu></sidenav-menu>
    </div>
    <div layout="column" flex="80">
        <div ui-view></div>
    </div>
</div>
